@font-face{
    font-family: "font-1";
    src: url(./Karla-Regular.ttf)
}

*{
    margin: 0px;
    padding: 0px;

    /* Ainsi maintenaznt lorsqu on va definir la largeur d un element, *
    * la largeur prendra en compte les padding et les bordures, *
    * commze ça on a plus a se soucier de savoir si un element a oui ou *
    * non un padding */
    box-sizing: border-box;

    font-family: 'font-1', sans-serif;

    /* cette ligne de code permet, par exemple pour un effet de deffillement,
    * d avoir un effet de deffillement assez doux qui ne se fait paas direxctement *
    * vers la section */
    scroll-behavior: smooth;
}

body{
    width: 100%;

}

/********************************** Header **********************************/

header{
    width: 100%;
    height: 100vh;
    /* Pour un image en ariere plan du site */
    background: url(./bgpk.jpg) no-repeat 100% 50px;
    /* Pour bien la centrer */
    background-size: cover;

}

nav{
    /* Pour fixer la barre de navigation en haut */
    position: fixed;
    /* Pour une largeur de 100% */
    width: 100%;
    background:black;
    display: inline;
    z-index: 2000;
}

nav ul{
    padding: 0;
    /* Pour Centrer notre ul*/
    text-align: right;
    margin: 0;
}

nav ul li{
    /* pour que le liste de la nav barre se met a la ligne,*
    * a la suite l une de l autre */
    display: inline-block;
    /* Pour qu elle soit un peut ecarter les unes des autres */
    padding: 20px;
}
li{
    /* Pour coller les listes entre elles */
	position: relative;
	margin-left: -40px;
}

nav ul li :hover{
    color: white;
    background: orangered;
    transition: 0.2s;
}

nav ul li a{
    text-decoration: none;
    color: orangered;
    font-size: 18px;
    font-weight: bold;
    border: solid 1px red;
    padding-right: 5px;
    padding-left: 5px;
}

.logo{
    text-decoration: none;
    /* Pour la fixer en haut */
    position: fixed;
    /* pour qu elle soit en haut a gauche */
    float: left;
    margin: 16px 36px;
    color: white;
    /* Pour qu elle soit en gras */
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
}

span{
    color:orangered;
    font-size: 40px;
}


/********************************** Footer **********************************/
footer{
    /* Pour avoir des pointiller sur le bord du haut du footer */
    border-top: 1px dashed black;
    width: 100%;
    height: 160px;
    background: rgb(255, 214, 214);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



#gagoe{
    width: 400px;
    height: 150px;
    background: brown;
}

#mitchenko{
    width: 400px; 
    height: 150px;
    background: rgb(143, 96, 96);
}






